

#login-page {background: #E0E0E0; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1.0em;}
#login-page .container {width: 980px; margin: 0 auto; margin-top: 0px; margin-bottom: 0px;}
#login-page .login {margin: 25% 33%;}
#login-page label {font-size: 0.8em;}
#login-page form {margin-top: 10px;}
#login-page input {display: block; margin-bottom: 5px;}
#login-page input[type=text] {width: 90%; border:2px ridge #dbdbdb; padding:5px; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#login-page input[type=password] {width: 90%; border:2px ridge #dbdbdb; padding:5px; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#login-page fieldset {background: #ffffff; padding: 20px; border: 3px solid #CCCCCC; border-radius: 6px 6px 6px 6px;}
#login-page legend {font-weight: bold; font-size: 0.9em;}
#login-page .submit {display: inline-block; float: right; margin-right: 10px; background-color: #cccccc; border:2px ridge #dbdbdb; padding:5px; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#login-page .submit.down {display: inline-block; float: right; margin-right: 10px; background-color: #ffffff; border:2px groove #dbdbdb; padding:5px; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#login-page .error {color: #ff0000; font-weight: bold; font-size: 0.8em;}


#home-page {background: #E0E0E0; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1.0em;}
#home-page .container {width: 980px; margin: 0 auto; margin-top: 0px; margin-bottom: 0px;}
#home-page label {font-size: 0.8em; font-weight: bold;}
#home-page form {margin-top: 10px; float:left;}
#home-page input {display: inline; margin-bottom: 5px; margin-right: 2px;}
#home-page input[type=text] {width: 90%; border:2px ridge #dbdbdb; padding:5px; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#home-page input[type=password] {width: 90%; border:2px ridge #dbdbdb; padding:5px; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#home-page fieldset {background: #ffffff; border: 3px solid #CCCCCC; border-radius: 6px 6px 6px 6px;}
#home-page legend {font-weight: bold; font-size: 0.9em;}
#home-page .submit {display: inline-block; background-color: #cccccc; border:2px ridge #dbdbdb; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#home-page .close {display: inline-block; background-color: #cccccc; border:2px ridge #dbdbdb; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#home-page .submit.down {display: inline-block; background-color: #ffffff; border:2px groove #dbdbdb; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px;}
#home-page .error {color: #ff0000; font-weight: bold; font-size: 0.8em;}
#home-page select {display:block; margin: 0 auto; width: 350px;  background: none repeat scroll 0 0 #E0E0E0; border: 2px groove #CCCCCC; border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius:7px; margin-bottom: 4px;}
#home-page img {float: right; margin-left: 200px; margin-top: 10px;  position: absolute;  background: none repeat scroll 0 0 #FFFFFF; border: 2px ridge #CCCCCC; border-radius: 7px 7px 7px 7px; padding: 6px;}
#home-page #hiddenlightbox {display:none; background: none repeat scroll 0 0 #FFFFFF; border: 2px ridge #CCCCCC; border-radius: 7px 7px 7px 7px; padding: 6px;}

